/* ------------------
Color Scheme 
Green : #85bb65
Purple : #923ae6
Grey : #979694
silver : #C0C0C0
Pink: #bb6585
---------------------*/

/* -----------------------------------------
Fonts
font-family: 'Abril Fatface', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
--------------------------------------------------*/

/* ----------
Global Styles 
--------------*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px; /*62.5%*/
    overflow-x: hidden; 
}
.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.flex-class{
    display: flex;
}
.current-page{
    border-bottom:1px solid black;
}
/* ----------------
Typography
-------------------- */
.logo-text, h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.logo-text-title{
    font-size:44px;
}
.cover-text, .nav-links, .nav-links a{
    text-decoration: none;
    list-style: none;
    color: black;
}
header .container{
    font-size: 1.45rem;
}

/*-------------
Header Styles 
-----------------*/
.hero-header{
    height:100vh;
    max-height: 1700px ;
    position: relative;    
}
.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    /* background-color: red; */
    position: absolute;
    top: 0;
    left:0;
    width: 100%;    
}
.navigation .container{
    justify-content: space-between;
    align-items: center;
}
.cover-text{
    /* background-color: yellow; */

    
}
.nav-flex{
    /* background: orange; */
}
.nav-links a{
    margin: 0 10px;
}
.nav-links a:hover,
.nav-links a:focus{
    color: #211D1A;
    border-bottom:1px solid #211D1A;
}
/*---------------- 
Main Content
---------------- */
main{
    background-color: #f8f8f8;
}
.main-container{
    padding: 50px 0;;
    position: relative;   
    
}
.main-flex-parent{
    min-height: 700px; 
}
.main-title{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 500px;
    font-size: 54px;
}
.card{
    margin:0 auto;
    width: 33%;
    padding: 0 20px;
    text-align: center;
    /* background-color: #85bb65; */
    color: black;
    /* border: 1px solid white; */
    /* border-radius: 5px; */
}
.card-head{
    flex-direction: column-reverse;
}
.card-body{
    flex-direction: column;
    align-items: flex-start;
}
.card-head > h2{
    margin: 20px 0;
    text-align: center;
}
.card-body > p{
    margin-bottom: 30px;
    text-align: center;
}
.card-body-link{
    padding: 10px 25px;
    background-color: #C0C0C0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.card-two {
    align-self: flex-end;
}
.card-body .card-body-link{
    margin: 0 auto;
}
.card-body-link:hover,
.card-body-link:focus{
    background-color: black;
    color: #C0C0C0;
}

