/* ------------------
Color Scheme 
Green : #85bb65
Purple : #923ae6
Grey : #979694
silver : #C0C0C0
Pink: #bb6585
---------------------*/

/* -----------------------------------------
Fonts
font-family: 'Abril Fatface', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
--------------------------------------------------*/

/* ----------
Global Styles 
--------------*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px; /*62.5%*/
    overflow-x: hidden; 
}
.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.flex-class{
    display: flex;
}
.current-page{
    border-bottom:1px solid black;
}
/* ----------------
Typography
-------------------- */
.logo-text, h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.logo-text-title{
    font-size:44px;
}
.cover-text, .nav-links, .nav-links a{
    text-decoration: none;
    list-style: none;
    color: black;
}
header .container{
    font-size: 1.45rem;
}

/*-------------
Header Styles 
-----------------*/
.hero-header{
    height:100vh;
    max-height: 1700px ;
    position: relative;    
}
.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute; 
    top: 0;
    left:0; 
    width: 100%;    
}
.navigation .container{
    justify-content: space-between;
    align-items: center;
}

.nav-links a{
    margin: 0 10px;
}
.nav-links a:hover,
.nav-links a:focus{
    color: #211D1A;
    border-bottom:1px solid #211D1A;
}
/*---------------- 
Main Content
---------------- */
main{
    background-color: #f8f8f8;
}
.main-container{
    padding: 50px 0;;
    position: relative;   
    
}
.main-flex-parent{
    min-height: 800px; 
}
.main-title{
    position: absolute;
    text-align: center;
    top: 3.7%;
    left: 40%;
    font-size: 54px;
    margin-top: 0;
}
.card{
    margin:0 auto;
    width: 33%;
    padding: 0 20px;
    text-align: center;
    color: black;
    
   
}
.card-head{
    flex-direction: column-reverse;
}
.card-body{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.card-head > h2{
    margin: 7px 0 0 0;
    text-align: center;
}
.card-head > img{
    
    margin: 5% auto 5%;
}
.card-body > p{
    margin: 10px 0 30px;
    text-align: center;
}
.card-body-link{
    padding: 10px 25px;
    background-color: #C0C0C0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.card-two {
    align-self: flex-end;
}
.card-body .card-body-link{
    margin: 0 auto;
}
.card-body-link:hover,
.card-body-link:focus{
    background-color: black;
    color: #C0C0C0;
}

/*------------------ 
Footer Styles
------------------ */
footer{
    background-color: #979694;
    padding: 30px 0;
    
}
.footer-container{
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}
.footer-links, footer ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0 auto;
    font-size: 24px;
    color: black;
}
.footer-site-links{
    width: 40%;
    justify-content: space-between;
}
.footer-list{
    width: 40%;
    justify-content: flex-start;
}
.footer-list > li {
    padding: 10px 35px;
    width: 40%;
}
.footer-link{
    /* transition: transform .2s; */
    transition: width 2s;
   
}
.footer-links:hover,
.footer-links:focus{
    color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
/*-----------
Contact Us Styles
--------------*/
/* Only page to have hero video is home page. Removed hero-header class from header element and 
the navigation class from the 1st div with in header. This nav will be used in the rest of the html pages. 
Also created a new class called nav-parent. Which was added to the 2nd div within the header */

/*--------------
 Nav
 --------------- */
.nav-parent{
    justify-content: space-between;
    align-items: center;
}
/* ---------------
Form Styles
----------------- */
.form-page-heading{
    padding: 30px 0;
}
.form-container{
    text-align: center;
    background-color:#85bb65 ;
    border: solid 1px black;
    border-radius: 10px;
    min-height: 150vh;  
    
}
.form-title{
    padding-bottom: 17px;
}
.form-class{
    flex-direction: column;
    
   
      
}
.form-sub-container{
    margin: 0 auto;

}
.row-one, .row-two{
    padding: 10px 25px;    
    margin: 0 auto;
    text-align: left;
}
.radio-container, .checkbox-container{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.row-three, .row-four{
    padding: 10px 10px;
    margin: 0 0;
    /* border: 1px solid black; */
}
.form-submit-button{
    padding: 10px 25px;
    width: 70%;
    margin: 15px auto 0;
    border-radius: 4px;
    border: 1px solid black;
}



