/* ------------------
Color Scheme 
Green : #85bb65
Purple : #923ae6
Grey : #979694
silver : #C0C0C0
Pink: #bb6585
off black: #212529
---------------------*/

/* -----------------------------------------
Fonts
font-family: 'Abril Fatface', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
--------------------------------------------------*/

/* ----------
Global Styles 
--------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px; /*62.5%*/
  overflow-x: hidden;
  color: #212529;
}
.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.flex-class {
  display: flex;
}
.current-page {
  border-bottom: 1px solid #212529;
}
/* ----------------
Typography
-------------------- */
.logo-text,
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.logo-text-title {
  font-size: 44px;
}
.cover-text,
.nav-links,
.nav-links a {
  text-decoration: none;
  list-style: none;
  color: #212529;
}
header .container {
  font-size: 1.45rem;
  
}

/*-------------
Header Styles 
-----------------*/
.hero-header {
  height: 100vh;
  max-height: 1700px;
  position: relative;
}
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation .container {
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin: 0 10px;
}
.nav-links a:hover,
.nav-links a:focus {
  color: #212529;
  border-bottom: 1px solid #212529;
}
/*---------------- 
Main Content
---------------- */
main {
  background: #d9d9d6;
}
.main-container {
  padding: 50px 0;
  position: relative;
}
.main-flex-parent {
  min-height: 800px;
}
.main-title {
  position: absolute;
  text-align: center;
  top: 3.7%;
  left: 40%;
  font-size: 54px;
  margin-top: 0;
}
.card {
  margin: 0 auto;
  width: 33%;
  padding: 0 20px;
  text-align: center;
  color: #212529;
}
.card-head {
  flex-direction: column-reverse;
}
.card-body {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.card-head > h2 {
  margin: 7px 0 0 0;
  text-align: center;
}
.card-head > img {
  margin: 5% auto 5%;
}
.card-body > p {
  margin: 10px 0 30px;
  text-align: center;
}
.card-body-link {
  padding: 10px 25px;
  background-color: #c0c0c0;
  border-radius: 5px;
  text-decoration: none;
  color: #212529;
}

.card-two {
  align-self: flex-end;
}
.card-body .card-body-link {
  margin: 0 auto;
}
.card-body-link:hover,
.card-body-link:focus {
  background-color: #212529;
  color: #c0c0c0;
}

/*------------------ 
Footer Styles
------------------ */
footer {
  background-color: #212529;
  padding: 30px 0;
}
.footer-container {
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
}
.footer-links,
footer ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  font-size: 24px;
  color: #d9d9d6;
}
.footer-site-links {
  width: 40%;
  justify-content: space-between;
}
.footer-list {
  width: 40%;
  justify-content: flex-start;
}
.footer-list > li {
  padding: 10px 35px;
  width: 40%;
}
.footer-links:hover,
.footer-links:focus {
  color: #d9d9d6;
  border-bottom: 1px solid #d9d9d6;
}
/*-----------
Contact Us Styles
--------------*/
/* Only page to have hero video is home page. Removed hero-header class from header element and 
the navigation class from the 1st div with in header. This nav will be used in the rest of the html pages. 
Also created a new class called nav-parent. Which was added to the 2nd div within the header */

/*--------------
 Nav
 --------------- */
.nav-parent {
  justify-content: space-between;
  align-items: center;
}
/* ---------------
Form Styles
----------------- */
.form-page-heading {
  padding: 50px 0 30px;
}
.form-container {
  text-align: center;
  border-radius: 10px;
}
.mini-container {
  background: rgba(33, 37, 41, .8);
  color: red;
  margin: 50px auto;
  border-radius: 4px;
  padding-bottom: 40px;
  min-height: 80vh
}
.mini-container label,
.mini-container h1,
.mini-container h2 {
  color: #d9d9d6;
}
.form-title {
  padding-bottom: 17px;
}
.form-class {
  flex-direction: column;
}
.form-sub-container {
  margin: 0 auto;
}
.row-one,
.row-two {
  padding: 10px 25px;
  margin: 0 auto;
  text-align: left;
}
.radio-container,
.checkbox-container {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}
.row-three,
.row-four {
  padding: 10px 10px;
  margin: 0 0;
}

.form-sub-container input {
  appearance: none;
  border: none;
  padding: 12px;
  background-color: #d9d9d6;
  border-radius: 4px;
  margin-top: 7px;
  width: 250px;
  outline: none;
}
.form-sub-container input:focus::placeholder {
  color: transparent;
}
.form-sub-container input::placeholder {
  color: #222;
  transition: color 0.3s ease;
}
.form-submit-button {
  padding: 10px 25px;
  width: 55%;
  margin: 15px auto 0;
  border-radius: 4px;
  border: 1px solid rgb(33, 37, 41);
  transition: transform 0.3s ease-in-out;
  
}
.form-submit-button:hover,
.form-submit-button:focus {
    background: rgb(33, 37, 41);
    transform: scale(1.1);
    color: #d9d9d6;
    cursor: pointer;    
}
/* -------------
Life Hacks Page
----------------- */
.top-10-container{
    flex-direction: column;
    margin: 40px auto;
}
.top-10-header{
    margin: 20px auto;
    padding: 20px;
}
.top-10-heading, .top-10-date{
    text-align: center;
}
.hack-row{
    
    min-height: 300px;
    width: 100%;
    padding: 10px 5px 10px;
    margin: 10px 0;
    
    
}
.hack-row-container{
    margin: 10px;
    padding: 10px 0;
}
.hacks-card-head{
    width: 50%;
    flex-direction: column;
    width: auto;
} 
.hack-row-first{
    padding: 10px 5px 10px;
}
.hack-row-second{
    /* width: 40%; */
    padding: 10px 5px 10px;
    /* width: 50%; */
    
}
.hack-row-third{
    order: -2;
    margin-right: 10px;  

}

/*------------
Media Queries
------------- */
@media (max-width:1024px){
  .main-container {
    max-width: 100%;
  }
}
@media (max-width:800px){
  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    margin-bottom: 10px;
  }
  .main-flex-parent {
    flex-direction: column;
  }
  .top-10-container{
    margin: 0 auto;
    
  }  
  .main-title {
    top: .8%; 
    position: static;   
  }
  .card-body{
    margin-bottom: 50px;
  }
  .card{
    min-height: 70vh;
    width: 45%;
    margin-bottom: 10px;
  }
  .hack-row{
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .hack-row:not(:last-child){
    border-bottom: 1px solid black;
  }
  .hack-row:last-child{
    margin-top: 40px;
    min-height: 250px;
  }

  .footer-site-links {
    flex-direction: column;
  }
  .footer-site-links p {
    padding: 10px;
    margin-bottom: 10px;
  }
  .form-container{
    max-width: 90%;
  }
}
@media (max-width:600px){
  .card {
    width: 75%;    
  }
  .footer-container {
    width: 100%;
  }
  .footer-list {
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
  }
  .footer-list > li {
    padding: 25px 20px;
    text-align: center;    
  }
.form-sub-container {
  flex-direction: column;
}

.row-one, .row-two {
  text-align: center;
  min-width: 54vw;
}
form h2 {
  margin: 10px 0;
}
}
@media (max-width:480px){
/* .hero-header {
  height: 50vh;
}

.cover-text, .nav-links, .nav-links a {
  display: inline-block;
}

.navigation .container {
  flex-wrap: wrap;
}
.nav-flex {
  flex-direction: row;
}
.nav-links {
  flex-direction: row;
} */
.nav-parent {
  flex-wrap: wrap;
  }
  .cover-text, .nav-links, .nav-links a {
    width: 100%;
    margin-bottom: 20px;
  }
  .nav-links a {
  margin: 0 10px;
  margin: 0 0;
  }

.card-container {
  flex-direction: column;
  text-align: center;
}

.card-container img {
  margin: 0 auto;
}
.radio-container,
.checkbox-container {
  width: 90%;
}
.container {
  max-width: 87%;
  }

}